@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	/* color: #ffffff; */
	max-width: 1280px;
	font-family: 'Roboto', ariel, sans-serif;
	font-size: 1.6em;
	font-weight:600;
	/* background: rgb(240,183,161); */
/* background: -moz-linear-gradient(top, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%); */
/* background: -webkit-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); */
/* background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); */
}

header{	
	height:200px;
	/* margin: 0 0 20px 0; */
	width: 100%;
	/* padding:30px; */
}

.header-content{
	border:2px solid red;
	display:flex;
	flex-flow:row;
	justify-content: space-between;		
}

.logo{	
	border:2px solid orange;
	
	margin-left: 3em;
	
	width:40%;
	height:200px;

	
}

button {
	text-transform:uppercase;
}


.box{
	/* background:#fcfcfc; */
	padding:20px;
	margin:0 0 20px 0;
	/* border:1px solid #eeeeee; */
	height:200px;
	text-align:center;
}

.box p{
	font-size: .9em;
}

.box .glyphicon{
	font-size:4em;
	color:#05a3cf;
}

.box:hover{
	/* background: #FDF9F3; */
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 56px;
    height: 56px;
    padding: 6px;
    background: #fff;
    border: 2px solid black;
    color: black;
    text-align: center;
    font: 30px Verdana, sans-serif;
    display: inline-block;
}

.profile-image{	
	/* margin-right: 5px; */
	padding: 20px;
    /* float: left;        */
    width: 120px;
    height: 120px;	
}

.modal {	
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
	
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-header{
	background-color: #
}
.modal-content{
	background-color: red;
}

article{	
	/* height: 35em; */
	margin:2em 0 auto;
}

.article-content-box{
	height: 32em;	
	border: 1px solid blue;
}
article header{	
	height: 45%;
	display:inline-block;
	position:relative;	
}

article header img {
	width: 100%;
	height:100%;	
	/* background-position: 100% 100%;	 */
}

article header button {
	position:absolute;
	right:5%;
	bottom:5%;
}

article p{
	padding-top: .5em;	
	
	
}

.article-body{	
	
	height: 55%;
	margin: 0 auto;	
	color: #000;
	overflow: hidden;
	padding:0 1.6em 0 1.6em ;	
	background: rgb(212,228,239);
background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
background: linear-gradient(to right, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 );
}

.upload{
	background-color: #000;
	
}

.upload container{
	display:flex;
}


