@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	background-color:#f6f6f6;
	max-width: 1280px;
	font-family: 'Roboto', ariel, sans-serif;
}

header{	
	height:200px;
	margin: 0 0 20px 0;
	width: 100%;
	/* padding:30px; */
}

header h1{
	color: #9a9292;
	font-size: 300%;
	text-align:center;
}

.box{
	/* background:#fcfcfc; */
	padding:20px;
	margin:0 0 20px 0;
	/* border:1px solid #eeeeee; */
	height:200px;
	text-align:center;
}

.box p{
	font-size: .9em;
}

.box .glyphicon{
	font-size:4em;
	color:#05a3cf;
}

.box:hover{
	/* background: #FDF9F3; */
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 56px;
    height: 56px;
    padding: 6px;
    background: #fff;
    border: 2px solid black;
    color: black;
    text-align: center;
    font: 30px Verdana, sans-serif;
    display: inline-block;
}

.profile-image{	
	/* margin-right: 5px; */
	padding: 20px;
    /* float: left;        */
    width: 120px;
    height: 120px;	
}