body{
	color: $dark-color;
	max-width: 1280px;
	font: 600 normal $base-font-size $base-font-stack;
	line-height: 1.4em;
	
	background: rgb(254,255,255);
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%);
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
}

h1 {
font-size: 36px; /* Some tweener fallback that doesn't look awful */ 
  font-size: 5.9vw;
}
	
h2 {
 font-size: 30px; /* Some tweener fallback that doesn't look awful */ 

  font-size: 4.0vh;
}

p {
 font-size: 18px; /* Some tweener fallback that doesn't look awful */ 

  font-size: 2vmin;
}


button {
	text-transform:uppercase;
}

.number {	
   font: $number-font-size $number-font-stack;
   display: inline-block;
}

input, textarea, button {
	@include border-radius(0px);
}

textarea {
	resize: none;
}

.glyphicon {
	color: $glyphicon-color;
	font-size:3em;
	
}



.top-buffer20 { margin-top:20px; }
.top-buffer40 { margin-top:100px; }
