html {
  @include fluid-type(font-size, $min-screen-size, $max-screen-size, 16px, 18px);
}

body{
	color: $dark-color;
	max-width: $max-screen-size;	
	//line-height: 1.4em;
	
	font-family: $base-font-stack;
	background: rgb(254,255,255);
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%);
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
}


h1 {
	@include fluid-type(font-size, $min-screen-size, $max-screen-size, 2em, 22em);
}

h2 {
	@include fluid-type(font-size, $min-screen-size, $max-screen-size, 1.5em, 18em);
}

h3 {
	@include fluid-type(font-size, $min-screen-size, $max-screen-size, 1.17em, 14em);
}

h4 {
	@include fluid-type(font-size, $min-screen-size, $max-screen-size, 1.12em, 12em);
}

h5 {
	@include fluid-type(font-size, $min-screen-size, $max-screen-size, .83em, 6em);
}

h6 {

	@include fluid-type(font-size, $min-screen-size, $max-screen-size, .75em, 3em);
}

p{
	@include fluid-type(font-size, $min-screen-size, $max-screen-size, .73em, 1em);
}


button {
	text-transform:uppercase;
}

.number {
	line-height: 1;	
	font-family: $number-font-stack;
	display: inline-block;	
}

input, textarea, button {
	@include border-radius(0px);
}

textarea {
	resize: none;
}

.glyphicon {
	color: $glyphicon-color;
	//@include fluid-type(font-size, $min-screen-size, $max-screen-size, 14px, 48px);
	
}

.top-buffer20{ margin-top:20px; }
.top-buffer100 { margin-top:100px; }
