body{	 
	color: $dark-color;
	max-width: $max-screen-size;		
	font-size: $base-font-size;
	font-family: $base-font-stack;
	background-color: #FDF3D8;
}

h1  { font-size: 3em;}
h2  { font-size: 2.8em ;}
h3  { font-size: 2.25em;}
h4  { font-size: 2em;}
h5  { font-size: 1.6em ;}
h6  { font-size: 1.4em;}

h1, h2, h3, h4, h5, h6 { font-weight: bolder }

*{
	box-sizing: border-box;
}

button {
	text-transform:uppercase;
}

.number {
	line-height: 1;	
	font-family: $number-font-stack;
	display: inline-block;	
}

input, textarea, button {
	@include border-radius(0px);
}

textarea {
	resize: none;
}

.glyphicon {
	color: $glyphicon-color;
}

.top-buffer20{ margin-top:20px; }
.top-buffer100 { margin-top:100px; }
