.box{
	/* background:#fcfcfc; */
	padding:20px;
	margin:0 0 20px 0;
	/* border:1px solid #eeeeee; */
	height:200px;
	text-align:center;
	
	p {
		font-size: .9em;
	}
	
	.glyphicon {
		font-size:4em;
		color:#05a3cf;
	}
	
	:hover{
	/* background: #FDF9F3; */
	}
}

.circle {
	border-radius: 50%;
    /* behavior: url(PIE.htc); /* remove if you don't care about IE8 */ 
    width: 2em;
    height: 2em;
    padding: 12px;
	background: #fff;
	color: #0000f2;
	border: 2px solid black;
	text-align: center;	
	font-size:2em;
}

.number {	
    font: 2em Verdana, sans-serif;
    //display: inline-block;
}