.modal {	
  text-align: center;
  padding: 3em; 
	/*:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;	 
	} */
	
	fa-facebook-square {
		font-size:2em;
	}
}

.modal-dialog {	
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header{
	padding: 2em;	
	color:$light-color;
	border: 0;
}
.modal-content{
	background-color: $primary-color;
	//padding: 2em;
}

.modal-body{
	margin-left: 2em;
	padding: 0 !important;
	
	textarea{
		width:95%;
		font-size: 1.5em;
		padding: 1em 0 0 1em;
		border-radius:5px;
	}
}

.modal-footer {	
	font-size: 3em;
}

article{		

	margin: 0 0 1em 0;	
	
	header{	
		height: 45%;
		display:inline-block;
		position:relative;	
		
		button {
			position:absolute;
			right:5%;
			bottom:5%;
		}
	}
	
	p{
		padding-top: .5em;	
	}
}

.article-content-box{
	height: 32em;	
	border: 1px solid $primary-color;
	
	.glyphicon {
		font-size:10em;		
	}
}

.article-body{
	
	height: 55%;
	margin: 0 auto;	
	color: #000;
	overflow: hidden;
	padding:0 1.6em 0 1.6em ;	
	background: rgb(212,228,239);
	background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
	background: linear-gradient(to right, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 );
}

.carousel,
.item,
.active {
    /* height: 100%; */
	width: 100%;
    /* margin-bottom: 60px; */
}

.carousel-inner {
    height: 100%;
}
