.modal {	
  text-align: center;
  padding: 3em; 
	/*:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;	 
	} */
	
	fa-facebook-square {
		font-size:2em;
	}
}

.modal-dialog {	
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header{
	padding: 2em;	
	color:$light-color;
	border: 0;
}
.modal-content{
	background-color: $primary-color;
	//padding: 2em;
}

.modal-body{
	margin-left: 2em;
	padding: 0 !important;	
	textarea{
		width:95%;
		font-size: 1.5em;
		padding: 1em 0 0 1em;
		border-radius:5px;
	}
}

.modal-footer {	
	font-size: 3em;
}

article{	

	html{
		@include fluid-type(font-size, $min-screen-size, $max-screen-size, $minFont, $maxFont);
	}

	margin: 1.2em 0 0 0;	
	//@include fluid-type(padding-top padding-right padding-bottom padding-left, 20em, 70em, 1em, 2em);
	
	
	.article-content-box{		
		//box-sizing: border-box;					
		@include fluid-type(height, $min-screen-size, $max-screen-size, 40em, 50em);	
		//border: 1px solid $primary-color;
			
		.glyphicon {		
			@include fluid-type(font-size, $min-screen-size, $max-screen-size, 9em, 15em);			
		} 
	}
	
	header{
		//@include fluid-type(padding-bottom padding-top, $min-screen-size, $max-screen-size, 55em, 4em);
		height: 40%;	
		display:inline-block;
		position:relative;	
		
		button {
			position:absolute;
			right:5%;
			bottom:5%;
		}
	}
	
	.article-body{						
		height: 55%;
		@include fluid-type(padding-right padding-left, $min-screen-size, $max-screen-size, 1em, 2.5em);			
		color: #000;
		overflow: hidden;			
		background: rgb(212,228,239);
		background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
		background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
		background: linear-gradient(to right, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 );		
		width: 100%;
		
		h2{
			margin-top:.5em;
		}
		
		p{			
			@include fluid-type(font-size, $min-screen-size, $max-screen-size, 1.30em, 3.2em);						
		}
	}	
}


.carousel,
.item,
.active {
    /* height: 100%; */
	width: 100%;
    /* margin-bottom: 60px; */
}

.carousel-inner {
    height: 100%;
}

.panel-body {
	label, input {
		display: block;
		width: 100%;
	}
	
	.box{			
		border: 1px dashed $primary-color;
		margin: .5em 0 .5em 0;
		width: 50%;	
		@include fluid-type(padding-top padding-right padding-bottom padding-left, $min-screen-size, $max-screen-size, 3.2em, 3em);
	}
	
	button {
		width: 100%;
	}
	
	p{		
		width: 100%;
	}
}