.modal {	
  text-align: center;
  padding: 3em; 
	/*:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;	 
	} */
	
	fa-facebook-square {
		font-size:2em;
	}
}

.modal-dialog {	
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header{
	padding: 2em;	
	color:$light-color;
	border: 0;
}
.modal-content{
	background-color: $primary-color;
	//padding: 2em;
}

.modal-body{
	margin-left: 2em;
	padding: 0 !important;
	
	textarea{
		width:95%;
		font-size: 1.5em;
		padding: 1em 0 0 1em;
		border-radius:5px;
	}
}

.modal-footer {	
	font-size: 3em;
}

article{		

	margin: 0 0 1em 0;	
	//@include fluid-type(padding-top padding-right padding-bottom padding-left, 20em, 70em, 1em, 2em);
	
	.article-content-box{	
	
		@include fluid-type(height, 20em, 70em, 20em, 26em);	
		border: 1px solid $primary-color;
		
		.glyphicon {
border-radius: 10px;		
			@include fluid-type(font-size, $min-screen-size, $max-screen-size, 6em, 60em);			
		} 
	}
	
	header{	
	
		//@include fluid-type(padding-bottom padding-top, 20em, 70em, 55em, 4em);
		height: 45%;	
		display:inline-block;
		position:relative;	
		
		button {
			position:absolute;
			right:5%;
			bottom:5%;
		}
	}
	
	.article-body{
	padding: 15px;
		height: 55%;
		//@include fluid-type(padding-right padding-left, 20em, 70em, .75em, 1em);	
		margin: 0 auto;	
		color: #000;
		overflow: hidden;			
		background: rgb(212,228,239);
		background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
		background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
		background: linear-gradient(to right, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 );
		
		h2{
			margin-top:0;
		}
	}
	
	
	
	
}


.carousel,
.item,
.active {
    /* height: 100%; */
	width: 100%;
    /* margin-bottom: 60px; */
}

.carousel-inner {
    height: 100%;
}

.panel-body {
	label, input {
		display: block;
		width: 100%;
	}
	
	.box{
		border: 1px dashed $primary-color;
		margin: .5em 0 .5em 0;
		width: 50%;	
padding-left: 0;
	padding-right: 0;
	}
	
	p{		
		width: 100%;
	}
}