header{		
	margin: 0; 
	width: 100%;	
	background: $primary-color;	
	
	
	.header-content{	
		display:flex;
		flex-flow:row;
		justify-content: space-between;	
		//height:150px;	
	}
	
	.logo{
		padding-left: 2em;
		width:40%;
		
		img{		
			width:100%;
			height:100%;
		} 
	}
	
	.profile{							
		width:30%;
		text-align:center;
		@include fluid-type(margin-top, $min-screen-size, $max-screen-size, 10px, 40px);
		
		h4{
			display:inline-block;	
		}
	}
}







