$base-color: #666666;
$base-font-stack: "Roboto", "ariel", "times new roman", "sans-serif";
$base-font-size: 15px;
$number-font-stack: "Verdana", "times new roman", sans serif;
$number-font-size:  2em;

/* Background colours */
$Primary-color:#00aff0;
$Secondary-color:00aff0;