$base-color: #88B6EA;
$base-font-stack: "Roboto", "ariel", "times new roman", "sans-serif";
//$base-font-size: 2vw;
$number-font-stack: "Verdana", "times new roman", sans serif;
$number-font-size:  24px;
$min-screen-size: 320px;  
$max-screen-size: 1366px;


/* Background colours */
$primary-color:#00aff0;
$secondary-color:#00aff0;
$light-color: #FCFCFC;
$dark-color: #626262;

/* Glyphicon color */
$glyphicon-color:#225574;

