$base-color: #88B6EA;
$base-font-stack: "Roboto", "ariel", "times new roman", "sans-serif";
$base-font-size: 1.2vw;
$number-font-stack: "Verdana", "times new roman", sans serif;
$number-font-size:  24px;
$min-screen-size: 320px;   
$max-screen-size: 1366px;
$baseline: 2rem;
$minFont: .8rem;
$maxFont: 2rem;


/* Background colours */
$primary-color:#778A8B;
$secondary-color:#00aff0;
$light-color: #FCFCFC;
$dark-color: #626262;

/* Glyphicon color */
$glyphicon-color:#225574;

