/* Sass Theme */
/* Author: Adrian Fish */
/* Version: 1.0 */
/* import google font */
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Base - base styles, variables, mixins */
/* Background colours */
/* Glyphicon color */
/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  /* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  html {
    font-size: calc(16px + 2 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  html {
    font-size: 18px;
  }
}

/* line 5, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
body {
  color: #626262;
  max-width: 1366px;
  font-family: "Roboto", "ariel", "times new roman", "sans-serif";
  background: #feffff;
  background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background: -webkit-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
}

/* line 19, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h1 {
  font-size: 2em;
}

@media screen and (min-width: 320px) {
  /* line 19, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h1 {
    font-size: calc(2em + 20 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 19, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h1 {
    font-size: 22em;
  }
}

/* line 23, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h2 {
  font-size: 1.5em;
}

@media screen and (min-width: 320px) {
  /* line 23, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h2 {
    font-size: calc(1.5em + 16.5 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 23, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h2 {
    font-size: 18em;
  }
}

/* line 27, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h3 {
  font-size: 1.17em;
}

@media screen and (min-width: 320px) {
  /* line 27, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h3 {
    font-size: calc(1.17em + 12.83 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 27, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h3 {
    font-size: 14em;
  }
}

/* line 31, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h4 {
  font-size: 1.12em;
}

@media screen and (min-width: 320px) {
  /* line 31, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h4 {
    font-size: calc(1.12em + 10.88 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 31, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h4 {
    font-size: 12em;
  }
}

/* line 35, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h5 {
  font-size: 0.83em;
}

@media screen and (min-width: 320px) {
  /* line 35, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h5 {
    font-size: calc(0.83em + 5.17 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 35, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h5 {
    font-size: 6em;
  }
}

/* line 39, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h6 {
  font-size: 0.75em;
}

@media screen and (min-width: 320px) {
  /* line 39, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h6 {
    font-size: calc(0.75em + 2.25 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 39, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  h6 {
    font-size: 3em;
  }
}

/* line 44, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
p {
  font-size: 0.73em;
}

@media screen and (min-width: 320px) {
  /* line 44, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  p {
    font-size: calc(0.73em + 0.27 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 44, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
  p {
    font-size: 1em;
  }
}

/* line 49, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
button {
  text-transform: uppercase;
}

/* line 53, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
.number {
  line-height: 1;
  font-family: "Verdana", "times new roman", sans serif;
  display: inline-block;
}

/* line 59, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 63, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
textarea {
  resize: none;
}

/* line 67, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
.glyphicon {
  color: #225574;
}

/* line 73, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
.top-buffer20 {
  margin-top: 20px;
}

/* line 74, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
.top-buffer100 {
  margin-top: 100px;
}

/* Modules - Individual site components */
/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
.box {
  padding: 1em;
  text-align: center;
}

@media screen and (min-width: 320px) {
  /* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
  .box {
    padding: calc(1em + 1 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
  .box {
    padding: 2em;
  }
}

/* line 9, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
.box :hover {
  /* background: #FDF9F3; */
}

/* line 14, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 25, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
.circle {
  border-radius: 50%;
  /* behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  width: 2em;
  height: 2em;
  padding: 10px;
  background: #fff;
  border: 2px solid black;
  text-align: center;
  font-size: 2em;
}

/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_buttons.scss */
.btn-responsive {
  line-height: 1.33333;
  border-radius: 6px;
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  /* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_buttons.scss */
  .btn-responsive {
    font-size: calc(10px + 6 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_buttons.scss */
  .btn-responsive {
    font-size: 16px;
  }
}

/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload {
  background-color: #FCFCFC;
  margin: 0 auto;
  padding: 20px;
}

/* line 8, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .container {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30%;
}

/* line 17, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .left-content {
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 1em;
  background-color: #00aff0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1em;
  height: 200px;
  overflow: hidden;
}

/* line 30, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .left-content h2 {
  margin: 0 auto;
  color: #FCFCFC;
}

/* line 35, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .left-content h6 {
  margin: 0 auto;
}

/* line 40, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .right-content {
  margin-right: 1em;
  width: 40%;
}

/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal {
  text-align: center;
  padding: 3em;
  /*:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;	 
	} */
}

/* line 11, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal fa-facebook-square {
  font-size: 2em;
}

/* line 16, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* line 22, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-header {
  padding: 2em;
  color: #FCFCFC;
  border: 0;
}

/* line 27, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-content {
  background-color: #00aff0;
}

/* line 32, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-body {
  margin-left: 2em;
  padding: 0 !important;
}

/* line 36, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-body textarea {
  width: 95%;
  font-size: 1.5em;
  padding: 1em 0 0 1em;
  border-radius: 5px;
}

/* line 44, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-footer {
  font-size: 3em;
}

/* line 48, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article {
  margin: 0 0 1em 0;
}

/* line 53, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article .article-content-box {
  height: 20em;
  border: 1px solid #00aff0;
}

@media screen and (min-width: 20em) {
  /* line 53, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-content-box {
    height: calc(20em + 6 * (100vw - 20em) / 50);
  }
}

@media screen and (min-width: 70em) {
  /* line 53, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-content-box {
    height: 26em;
  }
}

/* line 58, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article .article-content-box .glyphicon {
  border-radius: 10px;
  font-size: 6em;
}

@media screen and (min-width: 320px) {
  /* line 58, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-content-box .glyphicon {
    font-size: calc(6em + 54 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 58, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-content-box .glyphicon {
    font-size: 60em;
  }
}

/* line 64, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article header {
  height: 45%;
  display: inline-block;
  position: relative;
}

/* line 71, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article header button {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

/* line 78, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article .article-body {
  padding: 15px;
  height: 55%;
  margin: 0 auto;
  color: #000;
  overflow: hidden;
  background: #d4e4ef;
  background: -moz-linear-gradient(left, #d4e4ef 0%, #86aecc 100%);
  background: -webkit-linear-gradient(left, #d4e4ef 0%, #86aecc 100%);
  background: linear-gradient(to right, #d4e4ef 0%, #86aecc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 );
}

/* line 91, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article .article-body h2 {
  margin-top: 0;
}

/* line 102, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.carousel,
.item,
.active {
  /* height: 100%; */
  width: 100%;
  /* margin-bottom: 60px; */
}

/* line 110, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.carousel-inner {
  height: 100%;
}

/* line 115, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.panel-body label, .panel-body input {
  display: block;
  width: 100%;
}

/* line 120, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.panel-body .box {
  border: 1px dashed #00aff0;
  margin: .5em 0 .5em 0;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
}

/* line 128, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.panel-body p {
  width: 100%;
}

/* Layouts - Page layout styles */
/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header {
  margin: 0;
  width: 100%;
  background: #00aff0;
}

/* line 8, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header .header-content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 150px;
}

/* line 15, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header .logo {
  padding-left: 2em;
  width: 40%;
}

/* line 19, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header .logo img {
  width: 100%;
  height: 100%;
}

/* line 25, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header .profile {
  padding-top: 2em;
}

/* line 28, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header .profile h4 {
  display: inline-block;
}

/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_footer.scss */
footer {
  height: 150px;
  background-color: #000;
}

/* line 6, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_footer.scss */
footer .container {
  width: 100%;
  margin: 0 auto;
  padding: 4em;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

/*# sourceMappingURL=../custom.map */