/* Sass Theme */
/* Author: Adrian Fish */
/* Version: 1.0 */
/* import google font */
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Base - base styles, variables, mixins */
/* Background colours */
/* Glyphicon color */
/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
body {
  color: #626262;
  max-width: 1366px;
  font-size: 1.2vw;
  font-family: "Roboto", "ariel", "times new roman", "sans-serif";
  background: #feffff;
  background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background: -webkit-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
}

/* line 13, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h1 {
  font-size: 3em;
}

/* line 14, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h2 {
  font-size: 2.8em;
}

/* line 15, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h3 {
  font-size: 2.25em;
}

/* line 16, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h4 {
  font-size: 2em;
}

/* line 17, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h5 {
  font-size: 1.6em;
}

/* line 18, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h6 {
  font-size: 1.4em;
}

/* line 20, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

/* line 22, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
* {
  box-sizing: border-box;
}

/* line 26, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
button {
  text-transform: uppercase;
}

/* line 30, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
.number {
  line-height: 1;
  font-family: "Verdana", "times new roman", sans serif;
  display: inline-block;
}

/* line 36, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 40, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
textarea {
  resize: none;
}

/* line 44, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
.glyphicon {
  color: #225574;
}

/* line 48, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
.top-buffer20 {
  margin-top: 20px;
}

/* line 49, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_base.scss */
.top-buffer100 {
  margin-top: 100px;
}

/* Modules - Individual site components */
/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
.box {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 320px) {
  /* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
  .box {
    padding: calc(1em + 1 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
  .box {
    padding: 2em;
  }
}

/* line 8, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
.box :hover {
  /* background: #FDF9F3; */
}

/* line 13, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_shapes.scss */
.circle {
  border-radius: 50%;
  /* behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  width: 2.2em;
  height: 2.2em;
  padding: .5em;
  background: #fff;
  border: 2px solid black;
  text-align: center;
  font-size: 2.2em;
}

/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_buttons.scss */
.btn-responsive {
  line-height: 1.33333;
  border-radius: 6px;
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  /* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_buttons.scss */
  .btn-responsive {
    font-size: calc(10px + 6 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_buttons.scss */
  .btn-responsive {
    font-size: 16px;
  }
}

/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload {
  background-color: #FCFCFC;
  margin: 0 auto;
  padding: 20px;
}

/* line 8, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .container {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30%;
}

/* line 17, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .left-content {
  width: 60%;
  margin-top: 5%;
  margin-bottom: 9em;
  margin-left: 1em;
  background-color: #00aff0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1em;
  overflow: hidden;
}

/* line 30, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .left-content h2 {
  margin: 0 auto;
  color: #FCFCFC;
}

/* line 35, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .left-content h5, .upload .left-content h6 {
  margin: 0 auto;
}

/* line 40, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .right-content {
  margin-right: 1em;
  width: 40%;
}

/* line 44, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
.upload .right-content .glyphicon {
  font-size: 2em;
}

@media screen and (min-width: 320px) {
  /* line 44, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
  .upload .right-content .glyphicon {
    font-size: calc(2em + 28 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 44, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_sections.scss */
  .upload .right-content .glyphicon {
    font-size: 30em;
  }
}

/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal {
  text-align: center;
  padding: 3em;
  /*:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;	 
	} */
}

/* line 11, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal fa-facebook-square {
  font-size: 2em;
}

/* line 16, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* line 22, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-header {
  padding: 2em;
  color: #FCFCFC;
  border: 0;
}

/* line 27, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-content {
  background-color: #00aff0;
}

/* line 32, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-body {
  margin-left: 2em;
  padding: 0 !important;
}

/* line 35, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-body textarea {
  width: 95%;
  font-size: 1.5em;
  padding: 1em 0 0 1em;
  border-radius: 5px;
}

/* line 43, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.modal-footer {
  font-size: 3em;
}

/* line 47, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article {
  margin: 1.2em 0 0 0;
}

/* line 49, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article html {
  font-size: 0.8rem;
}

@media screen and (min-width: 320px) {
  /* line 49, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article html {
    font-size: calc(0.8rem + 1.2 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 49, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article html {
    font-size: 2rem;
  }
}

/* line 57, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article .article-content-box {
  height: 40em;
}

@media screen and (min-width: 320px) {
  /* line 57, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-content-box {
    height: calc(40em + 10 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 57, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-content-box {
    height: 50em;
  }
}

/* line 62, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article .article-content-box .glyphicon {
  font-size: 9em;
}

@media screen and (min-width: 320px) {
  /* line 62, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-content-box .glyphicon {
    font-size: calc(9em + 6 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 62, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-content-box .glyphicon {
    font-size: 15em;
  }
}

/* line 67, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article header {
  height: 40%;
  display: inline-block;
  position: relative;
}

/* line 73, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article header button {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

/* line 80, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article .article-body {
  height: 55%;
  padding-right: 1em;
  padding-left: 1em;
  color: #000;
  overflow: hidden;
  background: #d4e4ef;
  background: -moz-linear-gradient(left, #d4e4ef 0%, #86aecc 100%);
  background: -webkit-linear-gradient(left, #d4e4ef 0%, #86aecc 100%);
  background: linear-gradient(to right, #d4e4ef 0%, #86aecc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 );
  width: 100%;
}

@media screen and (min-width: 320px) {
  /* line 80, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-body {
    padding-right: calc(1em + 1.5 * (100vw - 320px) / 1046);
    padding-left: calc(1em + 1.5 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 80, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-body {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
}

/* line 92, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article .article-body h2 {
  margin-top: .5em;
}

/* line 96, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
article .article-body p {
  font-size: 1.3em;
}

@media screen and (min-width: 320px) {
  /* line 96, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-body p {
    font-size: calc(1.3em + 1.9 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 96, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  article .article-body p {
    font-size: 3.2em;
  }
}

/* line 103, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.carousel,
.item,
.active {
  /* height: 100%; */
  width: 100%;
  /* margin-bottom: 60px; */
}

/* line 111, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.carousel-inner {
  height: 100%;
}

/* line 116, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.panel-body label, .panel-body input {
  display: block;
  width: 100%;
}

/* line 121, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.panel-body .box {
  border: 1px dashed #00aff0;
  margin: .5em 0 .5em 0;
  width: 50%;
  padding-top: 3.2em;
  padding-right: 3.2em;
  padding-bottom: 3.2em;
  padding-left: 3.2em;
}

@media screen and (min-width: 320px) {
  /* line 121, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  .panel-body .box {
    padding-top: calc(3.2em + -0.2 * (100vw - 320px) / 1046);
    padding-right: calc(3.2em + -0.2 * (100vw - 320px) / 1046);
    padding-bottom: calc(3.2em + -0.2 * (100vw - 320px) / 1046);
    padding-left: calc(3.2em + -0.2 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 121, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
  .panel-body .box {
    padding-top: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
  }
}

/* line 128, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.panel-body button {
  width: 100%;
}

/* line 132, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_components.scss */
.panel-body p {
  width: 100%;
}

/* Layouts - Page layout styles */
/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header {
  margin: 0;
  width: 100%;
  background: #00aff0;
}

/* line 7, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header .header-content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

/* line 14, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header .logo {
  padding-left: 2em;
  width: 40%;
}

/* line 18, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header .logo img {
  width: 100%;
  height: 100%;
}

/* line 24, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header .profile {
  width: 30%;
  text-align: center;
  margin-top: 10px;
}

@media screen and (min-width: 320px) {
  /* line 24, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
  header .profile {
    margin-top: calc(10px + 30 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 24, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
  header .profile {
    margin-top: 40px;
  }
}

/* line 29, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_header.scss */
header .profile h4 {
  display: inline-block;
}

/* line 1, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_footer.scss */
footer {
  height: 150px;
  background-color: #000;
}

/* line 6, C:/Users/Adrian/source/repos/Degree/FDWM/bootstrap_webapp/styles/scss/custom/_footer.scss */
footer .container {
  width: 100%;
  margin: 0 auto;
  padding: 4em;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

/*# sourceMappingURL=../custom.map */